<?xml version="1.0"?>
<configuration>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <appSettings>
        <add key="ServerAddress" value="http://kavenserver.no-ip.org:88" />
        <add key="ServerQuery" value="/tetris/config" />
        <add key="WindowName" value="TetrisGame Beta by Kaven Gagne"/>
        <add key="WindowWidth" value="800"/>
        <add key="WindowHeight" value="600"/>
    </appSettings>
</configuration>
